p {
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: aquamarine;
    margin: 50px;
    border-radius: 15px;
    width: 25rem;
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
}

.card-header {
	border-bottom: 2px solid #111;
}

.delete-card {
    background-color: rgb(23, 172, 97);
    color: white;
    border-radius: 5px;
    border-color: rgb(23, 172, 97);
}